<div class="row">
  <div class="col-md-2"></div> 
  <div class="col-md-8">
    
         <input type="text" [formControl]="seachControl" class="form-control input-lg" id="inputlg">
     
 </div>  
  <div class="col-md-2"></div> 
 
 </div> 